.navbar {
  border: 5px solid rgb(153, 224, 144);
  text-align: center;
  margin: 20px;
  height: 30px;
  margin-bottom: 10px;
  background: rgb(201, 235, 201);
  word-spacing: 60px;
  font-size: 29px;
}
#Home,
#About,
#Work,
#Resume,
#Contact {
  border: 5px solid rgb(158, 158, 163);
  margin: 100px;
  padding: 50px 20px;
}

h1,
h2,
h3,
h4,
h5,
H6 {
  text-align: center;
  font-family: sans-serif;
}
h1 {
  color: blueviolet;
}
#video {
  margin-left: 20%;
}
#ayman {
  margin-left: 50%;
}
p {
  font-family: sans-serif;
  font-size: 20px;
}
#contactdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
